h1 {
    text-align:center
}

ul.articles li:not(:last-child) {
    border-bottom:1px solid #ccc
}

#singin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
}

#signin h1 {
  color: #0792ff;
}


#signin:hover {
  text-decoration: none;
}

#signin h1:hover{
  color: #b8d8ff;
}